@import '~antd/dist/antd.css';
.ant-layout-header{
  background: #fff;
  padding:0;
}
.ant-layout-header img.logo,.ant-layout-footer img.logo{
  margin: 1% 5%;
  float: left;

}

.headerNav{
  float:right;
  margin-right: 10%;
}
.SearchContainer{
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}
.leftContainer{
  padding-right:30px;
}
.ant-select{
  width: 100%;
}
.container{
  margin-bottom:10%;
}
.rightContainer{
  padding-left:30px;
}
.rightContainer .ant-layout .rightAdBlockOne{
  background: #fff;
  padding: 50px 0;
  text-align: center;
  margin-bottom: 10%;
}
.rightContainer .ant-layout .rightAdBlockOne a{
  display: block;
  padding-top: 10px;
}
.job-container{
 margin: 20px 0;
}
.rightAdBlockList{
  margin-bottom: 20px;
}
.job-container .left{
  width: 90%;
  float: left;
}
.job-container .right{
  float: right;
  width: 10%
}
.job-container .title{
 font-weight: bold;
 padding-bottom: 5px;
 font-size: 15px;
}
.job-container .info{
 margin: 20px 0 15px 0;
}

span.clearFilter{
    float: right;
  }
.middleContainer{
  background: #fff;
  height: 600px;
}
.leftSideBlock{
  background: rgb(240,242,245);
}

.mainContainer{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}
.ant-layout-footer{
  background: #324258;
  color:#fff;
}
.footerNav{
  text-align: center;
}
.socialBlock ul li{
    display: inline;
    margin-left: 5px;
  }
.footerNav ul{
  padding:0;
}
.footerNav ul li{
  list-style-type: none;
}
