@import '~antd/dist/antd.css';
$main-bg-color:#fff;
$white:#fff;
@mixin tags{
    color: $white;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    display: inline-block;
    padding: 10px;
    font-size: 12px;
    height: 25px;
    line-height: 3px;
}
.ant-layout-header {
  background: $main-bg-color;
  padding: 0;
  img.logo {
    margin: 1% 5%;
    float: left;
  }
  .headerNav {
    float: right;
    margin-right: 10%;
  }
}

.ant-layout-footer img.logo {
  margin: 1% 5%;
  float: left;
}

.SearchContainer {
  margin-top: 2%;
  margin-bottom: 30px;
  .ant-input-lg{
    height: 55px;
  }
  .ant-input-search{
    -webkit-box-shadow: 0 3px 5px #b2b2b2;
    box-shadow: 0 3px 5px #b2b2b2;
  }
  .ant-btn-lg{
    height: 55px;
    padding: 0 40px;
  }
}



.ant-layout-footer img.logo {
  margin: 1% 5%;
  float: left;
}

.mainContainer {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

.container {
  margin-bottom: 10%;
}

.leftContainer {
  padding-right: 30px;
  .ant-select {
    width: 100%;
  }
  span.clearFilter {
    float: right;
  }
  .ant-checkbox-checked {
    .ant-checkbox-inner {
      border-color: #56d48f;
      background-color: #56d48f;
    }
    &:after {
      border: 1px solid #56d48f;
    }
  }
  .ant-checkbox-wrapper {
      &:hover {
        .ant-checkbox-inner {
          border-color: #56d48f;
        }
      }
    }
    .ant-checkbox {
      &:hover {
        .ant-checkbox-inner {
          border-color: #56d48f;
        }
      }
    }
    .ant-checkbox-input {
      &:focus {
        + {
          .ant-checkbox-inner {
            border-color: #56d48f;
          }
        }
      }
    }
    .ant-slider {
    .ant-slider-track {
      background: #56d48f;
    }
    .ant-slider-handle {
      border: solid 2px #56d48f;
    }
    .ant-slider-rail {
      background-color: #dfe6f1;
    }
    &:hover {
      .ant-slider-handle {
        &:not(.ant-tooltip-open) {
          border-color: #56d48f;
        }
      }
    }
  }
  .clearFilter{
    cursor: pointer;
  }
}

.middleContainer {
  background: $main-bg-color;
  .JobListBlock {
    padding: 5%;
  }
  .ant-list-item-meta-title {
    .jobType_Full_Time {
        background-color: #72D1FA;
        @include tags;
    }
    .jobType_Part_Time {
      background-color: #f6c260;
      @include tags;
    }
  }
  .ant-list-pagination {
    text-align: center;
    margin-bottom: 20px;
  }
  .ant-pagination-item {
    border: none;
  }
  .sortBlock > span {
    width: 50%;
    display: inline-block;
    &.resultsCounter {
      width: 70%;
    }
    &.sortModule {
      width: 30%;
      .ant-select{
        width: 100%;
      }
    }
    &.resultsCounter label {
      width: 15%;
      float: right;
    }
  }
  .ant-pagination-item-active {
    font-weight: 500;
    background-color: #1890ff;
    a {
      color: $white;
    }
  }
  .ant-spin-container span.skillsList {
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    height: 25px;
    line-height: 3px;
    margin-right: 10px;
    margin-top: 20px;
  }
}

.rightContainer {
  padding-left: 30px;
  .ant-layout {
    .rightAdBlockOne {
      background: $main-bg-color;
      padding: 50px 0;
      text-align: center;
      margin-bottom: 10%;
      a {
        display: block;
        padding-top: 10px;
      }
    }
    .rightAdBlockList {
      margin-bottom: 20px;
      .job-container {
        margin: 20px 0;
        .left {
          width: 90%;
          float: left;
        }
        .right {
          float: right;
          width: 10%;
        }
        &.title {
          font-weight: bold;
          padding-bottom: 5px;
          font-size: 15px;
        }
        .info {
          margin: 20px 0 15px 0;
        }
      }
    }
  }
}

.ant-layout-footer {
  background: #324258;
  color: #fff;
  .footerNav {
    text-align: center;
    padding-bottom: 10%;
    ul {
      padding: 0;
      li {
        list-style-type: none;
        padding: 10px;
        a {
          color: #92A0B7;
        }
      }
    }
    .socialBlock ul li.iconsList {
      display: inline;
      margin-left: 25px;
    }
  }
}